* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Courier New', Courier, monospace; 
    list-style: none;
    text-decoration: none;
    color:#D9D9D9;
    background-color: #060D0C;
}
header{
    position: fixed; /* El header quede fijo en la parte superior */
    right: 0;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex; /* se acomoden en linea (flex row ya que es por defecto) */
    justify-content:center;
    align-items: center;
    padding: 15px 20px; /*bordes inferiores y superiores, lateral */
    background-color: transparent;
    margin-top:.10px;
}   


.navlist{
    display:flex;
    border-radius: 2em;
    /*agregar animacion que cuando se haga scroll el menu tenga un color diferente, y a su vez se vea redondo*/
}
.navlist li{
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
    border-bottom: 2px solid transparent;
    transition: all .5 ease ;

}
.navlist li:hover{
    color: hsla(80, 200, 70%, 20);
    border-bottom: 2px solid #62a981;
}
#menu-icon{
    display: none;
    font-size: 40px;
    z-index:11;
    cursor: pointer;
}
#menu-toggle{
    display:none;
}
.hero{
    height: 100%;
    min-height: 100vh;
    width: 100%;
    background:#060D0C;
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 2rem;
    padding-top: 10px;
}
.hero p{
    font-size: 100%;
    font-weight: 600;
    margin-bottom: 25px;
    line-height: 3;
}
.hero-text h4{
    font-size: 20px;
    margin-bottom: 25px;
    
}
.hero-text h3{
    font-size: 20px;
    margin-bottom: 10px;
}
.hero-text h1{
    font-size: 40px;
    margin-bottom: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

.hero-img img{
    
    width: 450px;
    margin: 0 20% ;
    height: auto;
    transition: all .5s linear;
    box-shadow: 0px 2px 6px  #62a981;
}

.hero-text a{
    display: inline-block;
    border: 2px solid #2e343b;
    border-radius: 5em;
    padding: 15px 30px;
    font-size: 15px;
    font-weight: 600;
    transition: all .3s ease ;
}
.hero-text a:hover{
    background-color: #58a882;
    color:whitesmoke;
    transform: translateX(2px);
}


.redes{
    position: absolute;
    left: 0;
    top:40vh;
    font-size: 30px;
    padding: 0  3%;
    transform: translateY(-60%);
}
.redes i{
    display:block;
    margin:20px 0;
    transition: all .5s ease-in ;
}

.redes i:hover{
    opacity: 0.5;
}
section{
    padding: 0  10%;
    text-align: justify;
}

#open {
    margin-top: 10px;
    height: inherit;
    width: inherit;
    border: 1px solid #0000;
    background: linear-gradient(#131219, #131219) padding-box, linear-gradient(
          var(--angle),
          #070707,
          #48D995
        ) border-box;
    animation: 5s rotate linear infinite;
  }
  
  @keyframes rotate {
    to {
      --angle: 360deg;
    }
  }
  
  @property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
  }

.scroll-down{
    position: absolute;
    right: 3%;
    bottom: 6%;
    background-color: whitesmoke;
    border: #3F4B59;
    opacity: 0.5;
    font-size: 50px;
    transition: all .5s cubic-bezier(0.075, 0.82, 0.165, 1);
    
}

.certificados{
    display: flex;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 2em;
}
.card{
    height: 50%;
    width: 30%;
    padding: 2em 2em;
    margin: 2em 2em;
    max-width: 100%;
    border-radius: 2em;  
    box-shadow: 1px 1px 2px 2px;
}
.card h2, h6, p{
    padding-top: 1em;
}


.card a{
    color: #F27405 ;
}
.card a:hover{
    color: #4d715d;
}

@media(max-width:992px){
    section{
        padding: 0 3%;
        transition: .2s
    }
    .hero-text{
        padding-top:0;
    }
    .hero-img{
        text-align:center;
    }
    .hero-img img{
        width: 80%;
        margin: 10% 0 0 10%;
    }
    .hero-text p{
        font-size:70%;
    }
    .redes {
        display: none;
    }
    .scroll-down{
        display:none;
    }
    
}

@media(max-width: 768px){
    header{
        background:#060D0C;
    }
    .menu-icon-action{
        display:block;
        right: 100px;
    }
    #menu-icon{
        display: block;

    }
    .navlist{
        position: absolute;
        right: -100%;
        top:100%;
        max-width: 768px;
        width: 100%;
        height: 100vh;
        background:#060D0C;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 30px;
        transition: all .5s ease-out;
       
    }
    .navlist a{
        display: block;
        margin: 7px 0;
        
    }

    .navlist.open{
        right: 0;
    }
    .navlist li{
        border-bottom: solid 2px #9eb4c8;

    }
   

    .hero-text{
        text-align: center;
        padding-top: 100px;
    }
    .hero-img img{
        margin: 0;

    }
   
    
    .hero{
        height: 100%;
        gap: 1rem;
        grid-template-columns: 1fr;
    }
}